
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'auth';
@import 'welcome';
@import './miscellaneous/buttons';
@import './components/main-container';
@import './components/menu';
@import './components/menu-add-budget';
@import './components/menu-add-category';
@import './components/grid';
@import './components/category-detail';

body {
  margin: 0;
  background-color: rgb(243, 243, 243);
  font-family: Arial, Helvetica, sans-serif;
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 22px;
    font-size: 17px;
    width: 40px;
    height: 40px;
    
    &.disabled {
      opacity: 0.5;
    }
  }

  h1 {
    margin: 0;
  }
  
  #app {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .centered-content-hv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

}
