@import '_variables';

#welcome-page {
  color: $dark-font-color;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 17px;
  
  .content {
    .image {
      width: 150px;
      height: 150px;
      margin: 35px;
      img {
        width: 100%;
        height: auto;
      }
    }
    
    button {
      border: 1px solid $dark-font-color;
      height: 35px;
      border-radius: 25px;
      width: 150px;
      margin: 14px auto;
      background-color: $body-bg;
      color: $dark-font-color;
      a {
        text-decoration: none;
        color: $dark-font-color;
      }
    }
  }
}