@import '../_variables';

.category-detail {
  width: calc(100% - 28px);
  height: calc(100% - 28px);
  padding: 14px 14px 50px 14px;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // align-content: space-between;
  justify-content: space-between;
  color: #ffffff;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // .button {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border: 1px solid #ffffff;
  //   border-radius: 22px;
  //   font-size: 17px;
  //   width: 40px;
  //   height: 40px;

  //   &.disabled {
  //     opacity: 0.5;
  //   }
  // }

  .compressable-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .balance {
    font-weight: 400px;
    font-size: 35px;
    margin: 17px 0 0 0;

    input {
      text-align: right;
      font-size: 35px;
      font-weight: bold;
      background-color: transparent;
      border: none;
      max-width: 100px;
      color: #222222;
      &:focus {
        outline: none;
      }
      &:disabled {
        color: #ffffff;
      }
    }

  }

  .balance-action {
    text-align: center;
    span {
      margin: auto;
    }
    margin: 5px 0 20px 0;
  }

  .add-form {
    position: absolute;
    bottom: 64px;
    width: calc(100% - 28px);
    .add-value {
      margin: 14px 0;
      border: none;
      border-bottom: 1px solid #ffffff;
      height: 35px;
      background-color: transparent;
      text-align: center;
      font-size: 28px;
      width: 100%;
      color: #222222;
      &:focus {
        outline: 0;
      }

    }
  }
  .add-button {
    margin: 14px auto;
    width: 150px;
    background-color: transparent;

    i {
      font-size: 21px;
      vertical-align: middle;
      text-align: center;
      color: #ffffff;
    }
    &:disabled {
      opacity: 0.5;
    }
  }
  .content {
    height: 100%;
    overflow: auto;
    width: 100%;
    text-align: center;
    margin: 14px 0;

    .expenses {
      .expense {
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .category-actions {
    max-height: 50px;    
    bottom: 14px;
    display: flex;
    justify-content: space-between;
    // width: calc(100% - 28px);
    width: 100%;
  }

}
