@import '../_variables';
#menu {
  font-size: 21px;
  font-weight: bold;
  color: #4f4f4f;
  position: absolute;
  width: 100%;
  height: 54px;
  bottom: 0;
  left: 0;
  background-color: rgb(243, 243, 243);
  transition: all 100ms ease-out;
  text-align: center;
  overflow: auto;

  display: flex;
  align-items: center;
  
  .menu-options {
    width: 100%;
    padding: 14px;
    .menu-option {
      height: 60px;
      border: 2px solid #4f4f4f;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 14px;
      border-radius: 30px;
    }
  }

  .menu-trigger {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    background-color: rgb(243, 243, 243);
    .arrow-button {
      width: 54px;
      height: 100%;
      &.disabled {
        opacity: 0.5;
      }
    }
  }

&.open {
  transition: all 100ms ease-in;
  height: calc(100% - 54px);
}
}
