@import '../_variables';
#menu {
  font-size: 21px;
  font-weight: bold;
  color: #4f4f4f;
  position: absolute;
  width: 100%;
  height: 54px;
  bottom: 0;
  left: 0;
  background-color: rgb(243, 243, 243);
  transition: all 100ms ease-out;
  text-align: center;
  overflow: hidden;

  .opened-menu-content {
    position: relative;
    width: 100%;
    height: calc(100% - 54px);
    
    .slidable-panel {
      left: -100%;
      top: 0;
      position: absolute;
      height: 200%;
      width: 300%;
      transition: all 200ms ease-out;
      
      &.move-left {
        transition: all 200ms ease-in;
        left: 0;
      }

      &.move-right {
        transition: all 200ms ease-in;
        left: -200%;
      }
      
      &.move-down {
        transition: all 200ms ease-in;
        top: -100%;
      }

      .menu-options {
        position: absolute;
        width: 33.33%;
        height: 50%;
        overflow: auto;
        .menu-option {
          height: 60px;
          border: 2px solid #4f4f4f;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 14px;
          border-radius: 30px;
        }
      }
      
      .x-1 {
        left: 0;
      }
      .x0 {
        left: 33.333%;
      }
      .x1 {
        left: 66.667%;
      }
      .y1 {
        top: 50%;
      }
    }

  }
  

  .menu-trigger {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    background-color: rgb(243, 243, 243);
    .arrow-button {
      width: 54px;
      height: 100%;
      &.disabled {
        opacity: 0.5;
      }
    }
  }

&.open {
  transition: all 100ms ease-in;
  height: calc(100% - 54px);
}
}
