@import '../_variables';

.add-category {
  left: 50%;
  position: absolute;
  width: 50%;
  .menu-option {
    height: 60px;
    border: 2px solid #4f4f4f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;
    border-radius: 30px;
  }
}