@import '../_variables';

#modal-input {
  
    text-align: center;
    height: 100%;
    padding: 21px;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    .title {
      font-weight: 900;
      font-size: 28px;
      margin: 21px;
    }

    .message {
      margin: 14px;
      font-weight: 400;
      font-size: 17px;
    }
    
    .input {
      margin: 14px;
      .app-input {
        border-color: $body-bg;
        color: $body-bg;
      }
    }
    .actions {
      margin: 14px;
      display: flex;
      justify-content: space-between;
    }
}