@import url(https://fonts.googleapis.com/css?family=Nunito);#home {
  background-color: blue;
  padding: 5px;
  overflow: auto;
}

#home.category-open {
  overflow: hidden;
}

#home .category {
  position: relative;
  height: 150px;
  border: 2px solid #162b24;
  width: 100%;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

#home .category .name {
  position: absolute;
  padding: 10px;
  text-transform: uppercase;
  top: 57px;
}

#home .category.selected {
  font-size: 14px;
}

#home .category.selected .name {
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  top: 0;
}

#home .category.open {
  height: calc(100vh - 15px);
}

#home .category .input-expense {
  background-color: pink;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

#home .category .input-expense input {
  font-size: 35px;
  width: 270px;
  border: none;
  border-bottom: 2px solid yellow;
  height: 50px;
  background-color: transparent;
}

#home .category .input-expense input:focus {
  outline: none;
}

#cubes {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: palegreen;
}

#cubes .cube {
  width: 50px;
  height: 50px;
  outline: 2px crimson solid;
  background-color: palevioletred;
  float: left;
  -webkit-transition: background-color 100ms ease-out;
  transition: background-color 100ms ease-out;
}

#cubes .cube.selected {
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
  background-color: palegoldenrod;
}

#cubes .cube .card {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

#cubes .card-to-expand {
  position: absolute;
  background-color: palegoldenrod;
  visibility: hidden;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

#cubes .card-to-expand.expand {
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  visibility: visible;
  opacity: 0.9;
}

.q-icon-button {
  position: relative;
  height: 28px;
  width: 28px;
  padding: 7px;
  border-radius: 21px;
  background-color: orange;
  color: azure;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

