@import url(https://fonts.googleapis.com/css?family=Nunito);#login-page,
#register-page {
  color: #4f4f4f;
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 17px;
}

#login-page .header,
#register-page .header {
  margin: 21px;
}

#login-page .header .image,
#register-page .header .image {
  margin: 21px auto;
  width: 84px;
  height: 84px;
  border-radius: 42px;
}

#login-page .header .image img,
#register-page .header .image img {
  width: 100%;
  height: auto;
}

#login-page .header .title,
#register-page .header .title {
  font-size: 28px;
  font-weight: 900;
}

#login-page .form button,
#register-page .form button {
  border: 1px solid #4f4f4f;
  height: 35px;
  border-radius: 25px;
  width: 150px;
  margin: 14px auto;
  background-color: #f3f3f3;
  color: #4f4f4f;
}

#login-page .form .field,
#register-page .form .field {
  margin-bottom: 14px;
}

#login-page .form .field .label,
#register-page .form .field .label {
  display: block;
  margin-bottom: 7px;
}

#login-page .form .field .input,
#register-page .form .field .input {
  border: 1px solid #4f4f4f;
  height: 35px;
  border-radius: 25px;
  font-size: 17px;
  text-align: center;
}

#login-page .form .field .input.is-invalid,
#register-page .form .field .input.is-invalid {
  border-color: crimson;
}

#login-page .form .field .input:focus,
#register-page .form .field .input:focus {
  outline: 0;
}

#login-page .form .field .error-message,
#register-page .form .field .error-message {
  color: crimson;
}

#welcome-page {
  color: #4f4f4f;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  font-size: 17px;
}

#welcome-page .content .image {
  width: 150px;
  height: 150px;
  margin: 35px;
}

#welcome-page .content .image img {
  width: 100%;
  height: auto;
}

#welcome-page .content button {
  border: 1px solid #4f4f4f;
  height: 35px;
  border-radius: 25px;
  width: 150px;
  margin: 14px auto;
  background-color: #f3f3f3;
  color: #4f4f4f;
}

#welcome-page .content button a {
  text-decoration: none;
  color: #4f4f4f;
}

.q-icon-button {
  position: relative;
  height: 28px;
  width: 28px;
  padding: 7px;
  border-radius: 21px;
  background-color: orange;
  color: azure;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  color: #ffffff;
  position: absolute;
}

.container .header {
  position: absolute;
  width: 100%;
  height: 54px;
  font-size: 17px;
  color: #4f4f4f;
}

.container .header .title {
  text-align: center;
}

#menu {
  font-size: 17px;
  color: #4f4f4f;
  position: absolute;
  width: 100%;
  height: 54px;
  bottom: 0;
  left: 0;
  background-color: #f3f3f3;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  text-align: center;
  overflow: hidden;
}

#menu .opened-menu-content {
  position: relative;
  width: 100%;
  height: calc(100% - 54px);
}

#menu .opened-menu-content .slidable-panel {
  left: -100%;
  top: 0;
  position: absolute;
  height: 200%;
  width: 300%;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

#menu .opened-menu-content .slidable-panel.move-left {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  left: 0;
}

#menu .opened-menu-content .slidable-panel.move-right {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  left: -200%;
}

#menu .opened-menu-content .slidable-panel.move-down {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  top: -100%;
}

#menu .opened-menu-content .slidable-panel .menu-options {
  position: absolute;
  width: 33.33%;
  height: 50%;
  overflow: auto;
}

#menu .opened-menu-content .slidable-panel .menu-options .menu-option {
  height: 49px;
  border: 1px solid #4f4f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 14px;
  border-radius: 30px;
}

#menu .opened-menu-content .slidable-panel .x-1 {
  left: 0;
}

#menu .opened-menu-content .slidable-panel .x0 {
  left: 33.333%;
}

#menu .opened-menu-content .slidable-panel .x1 {
  left: 66.667%;
}

#menu .opened-menu-content .slidable-panel .y1 {
  top: 50%;
}

#menu .menu-trigger {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 54px;
  background-color: #f3f3f3;
}

#menu .menu-trigger .arrow-button {
  width: 54px;
  height: 100%;
}

#menu .menu-trigger .arrow-button.disabled {
  opacity: 0.5;
}

#menu.open {
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  height: calc(100% - 54px);
}

.add-budget {
  max-height: calc(100% - 86px);
  overflow: auto;
}

.add-budget .menu-option {
  height: 60px;
  border: 2px solid #4f4f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 14px;
  border-radius: 30px;
}

.add-budget .menu-option.selected {
  background-color: #4f4f4f;
  color: #f3f3f3;
}

.add-budget .form-field {
  margin: 14px;
}

.add-budget .form-field select,
.add-budget .form-field input {
  text-align: center;
  font-size: 17px;
  display: block;
  background-color: transparent;
  height: 35px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #4f4f4f;
}

.add-budget .form-field select:focus,
.add-budget .form-field input:focus {
  outline: none;
}

.add-budget :nth-child(4) {
  margin-bottom: 30px;
}

.add-budget .actions {
  margin: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-budget .actions .button {
  border-color: #4f4f4f;
}

.add-category .menu-option {
  height: 60px;
  border: 2px solid #4f4f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 14px;
  border-radius: 30px;
}

.add-category .form-field {
  margin: 14px;
}

.add-category .form-field select,
.add-category .form-field input {
  text-align: center;
  font-size: 17px;
  display: block;
  background-color: transparent;
  height: 35px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #4f4f4f;
}

.add-category .form-field select:focus,
.add-category .form-field input:focus {
  outline: none;
}

.add-category :nth-child(4) {
  margin-bottom: 30px;
}

.add-category .actions {
  margin: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-category .actions .button {
  border-color: #4f4f4f;
}

#grid {
  position: relative;
  width: 100%;
  height: calc(100vh - 108px);
  margin-top: 54px;
}

#grid .message {
  font-size: 17px;
  color: #4f4f4f;
  text-align: center;
  padding: 14px;
}

#grid .grid-cell {
  position: relative;
  float: left;
  -webkit-transition: background-color 100ms ease-out;
  transition: background-color 100ms ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grid .grid-cell .category {
  position: absolute;
  background-color: transparent;
  width: calc(100% - 7px);
  height: calc(100% - 7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 21px;
}

#grid .grid-cell.menu-trigger {
  background-color: grey;
}

#grid .category-to-expand {
  position: absolute;
  visibility: hidden;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

#grid .category-to-expand.expand {
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  visibility: visible;
  opacity: 0.9;
}

.category-detail {
  width: calc(100% - 28px);
  height: calc(100% - 28px);
  padding: 14px 14px 50px 14px;
  text-align: center;
  overflow: auto;
  color: #ffffff;
}

.category-detail input[type=number]::-webkit-inner-spin-button,
.category-detail input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.category-detail .compressable-content {
  overflow: hidden;
}

.category-detail .balance {
  font-weight: 400;
  font-size: 35px;
  margin: 17px 0 0 0;
}

.category-detail .balance input {
  text-align: right;
  font-size: 35px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  max-width: 100px;
  color: #222222;
}

.category-detail .balance input:focus {
  outline: none;
}

.category-detail .balance input:disabled {
  color: #ffffff;
}

.category-detail .balance-action {
  text-align: center;
  margin: 5px 0 20px 0;
}

.category-detail .balance-action span {
  margin: auto;
}

.category-detail .add-form {
  position: absolute;
  bottom: 64px;
  width: calc(100% - 28px);
}

.category-detail .add-form .add-value {
  margin: 14px 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  height: 35px;
  background-color: transparent;
  text-align: center;
  font-size: 28px;
  width: 100%;
  color: #222222;
}

.category-detail .add-form .add-value:focus {
  outline: 0;
}

.category-detail .add-button {
  margin: 14px auto;
  width: 150px;
  background-color: transparent;
}

.category-detail .add-button i {
  font-size: 21px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
}

.category-detail .add-button:disabled {
  opacity: 0.5;
}

.category-detail .content {
  max-height: 40%;
  overflow: auto;
  width: 100%;
  text-align: center;
  margin: 14px 0;
}

.category-detail .content .expenses .expense {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-detail .category-actions {
  position: absolute;
  bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 28px);
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  opacity: 0;
}

#modal.show {
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  visibility: visible;
  opacity: 1;
}

#modal .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modal .content {
  background-color: #f3f3f3;
}

#modal-input {
  text-align: center;
  height: 100%;
  padding: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#modal-input .title {
  font-weight: 900;
  font-size: 28px;
  margin: 21px;
}

#modal-input .message {
  margin: 14px;
  font-weight: 400;
  font-size: 17px;
}

#modal-input .input {
  margin: 14px;
}

#modal-input .input .app-input {
  border-color: #f3f3f3;
  color: #f3f3f3;
}

#modal-input .actions {
  margin: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  margin: 0;
  background-color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

body .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  border-radius: 22px;
  font-size: 17px;
  width: 40px;
  height: 40px;
}

body .button.disabled {
  opacity: 0.5;
}

body .app-input {
  height: 35px;
  border-radius: 18px;
  border: 1px solid;
  border-color: #4f4f4f;
  text-align: center;
  font-size: 17px;
}

body .app-input:focus {
  outline: 0;
}

body h1 {
  margin: 0;
}

body #app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

body .centered-content-hv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

