@import url(https://fonts.googleapis.com/css?family=Nunito);#home {
  background-color: blue;
  padding: 5px;
  overflow: auto;
}

#home.category-open {
  overflow: hidden;
}

#home .category {
  position: relative;
  height: 150px;
  border: 2px solid #162b24;
  width: 100%;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

#home .category .name {
  position: absolute;
  padding: 10px;
  text-transform: uppercase;
  top: 57px;
}

#home .category.selected {
  font-size: 14px;
}

#home .category.selected .name {
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  top: 0;
}

#home .category.open {
  height: calc(100vh - 15px);
}

#home .category .input-expense {
  background-color: pink;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

#home .category .input-expense input {
  font-size: 35px;
  width: 270px;
  border: none;
  border-bottom: 2px solid yellow;
  height: 50px;
  background-color: transparent;
}

#home .category .input-expense input:focus {
  outline: none;
}

.container {
  width: 100%;
  height: 100vh;
}

.container #menu {
  font-size: 21px;
  font-weight: bold;
  color: #4f4f4f;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.container #menu .menu-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
}

.container #menu.open {
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  height: 100%;
}

.container #grid {
  position: relative;
  width: 100%;
  height: calc(100vh - 40px);
}

.container #grid .grid-cell {
  width: 50px;
  height: 50px;
  outline: 7px #ffffff solid;
  background-color: crimson;
  opacity: 0.7;
  float: left;
  -webkit-transition: background-color 100ms ease-out;
  transition: background-color 100ms ease-out;
}

.container #grid .grid-cell.selected {
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
  background-color: palegoldenrod;
}

.container #grid .grid-cell .category {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.container #grid .grid-cell.menu-trigger {
  background-color: grey;
}

.container #grid .category-to-expand {
  position: absolute;
  background-color: crimson;
  visibility: hidden;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.container #grid .category-to-expand.expand {
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  visibility: visible;
  opacity: 0.9;
}

.category-detail {
  width: calc(100% - 28px);
  height: calc(100% - 28px);
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category-detail .balance {
  font-weight: 900;
  font-size: 35px;
  margin: 17px 0 0 0;
}

.category-detail .balance input {
  text-align: right;
  font-size: 35px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  max-width: 100px;
}

.category-detail .balance input:focus {
  outline: none;
}

.category-detail .balance input:disabled {
  color: #000000;
}

.category-detail .balance input[type=number]::-webkit-inner-spin-button,
.category-detail .balance input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.category-detail .add-form .add-value {
  margin: 14px 0;
  border: none;
  border-bottom: 2px solid #ffffff;
  height: 35px;
  background-color: transparent;
  text-align: center;
  font-size: 28px;
  width: 300px;
}

.category-detail .add-form .add-value:focus {
  outline: 0;
}

.category-detail .add-button {
  margin: 14px auto;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #ffffff;
  display: table;
}

.category-detail .add-button i {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.category-detail .content {
  max-height: 100%;
  overflow: auto;
  width: 100%;
  text-align: center;
  margin: 14px 0;
}

.q-icon-button {
  position: relative;
  height: 28px;
  width: 28px;
  padding: 7px;
  border-radius: 21px;
  background-color: orange;
  color: azure;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0;
  background-color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

body h1 {
  margin: 0;
}

